# 관광식당, 관광유흥음식점, 외국인전용유흥음식점, 일반음식점, 휴게음식점 데이터
외국인전용유흥음식점은 자국민 출입이 불가능하므로 데이터 제외시키고 시작함.
최신 데이터가 따로 있어서 다시 만들었음 (ㅠㅠ)

In [1]:
import pandas as pd

sightseeing_restaurant_df = pd.read_csv('data/fulldata_07_24_01_P_관광식당.csv', encoding='cp949')

sightseeing_restaurant_df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
0,1,관광식당,07_24_01_P,4180000,CDFI3261041997000002,19970818,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704.0,NaN
1,2,관광식당,07_24_01_P,4180000,CDFI3261042007000003,20070905,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,697.0,NaN
2,3,관광식당,07_24_01_P,3630000,CDFI3261041999000001,19990831,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,관광식당,07_24_01_P,3070000,CDFI3261042008000002,20080319,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,관광식당,07_24_01_P,3070000,CDFI3261042008000003,20080319,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,445,관광식당,07_24_01_P,3050000,CDFI3261042006000001,20060511,20141212.0,4,취소/말소/만료/정지/중지,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,446,관광식당,07_24_01_P,5120000,CDFI3261042006000001,20061011,20140430.0,4,취소/말소/만료/정지/중지,33,...,NaN,NaN,NaN,NaN,100000000.0,NaN,NaN,NaN,1625.0,NaN
446,447,관광식당,07_24_01_P,3640000,CDFI3261042010000001,20100406,20180717.0,4,취소/말소/만료/정지/중지,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,448,관광식당,07_24_01_P,3650000,CDFI3261042007000001,20070328,NaN,4,취소/말소/만료/정지/중지,35,...,NaN,NaN,NaN,NaN,600000000.0,NaN,NaN,NaN,680.0,NaN
448,449,관광식당,07_24_01_P,3900000,CDFI3261042011000001,20110117,NaN,4,취소/말소/만료/정지/중지,35,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN

In [2]:
tourist_entertainment_restaurant_df = pd.read_csv('data/fulldata_07_24_02_P_관광유흥음식점업.csv', encoding='cp949')
tourist_entertainment_restaurant_df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
0,1,관광유흥음식점업,07_24_02_P,4050000,CDFI3261122012000001,20120217,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,80000000.0,NaN,NaN,NaN,494.0,NaN
1,2,관광유흥음식점업,07_24_02_P,3660000,CDFI3261122014000001,20140923,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.0,NaN
2,3,관광유흥음식점업,07_24_02_P,5670000,CDFI3261122009100001,20091030,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,30000000.0,NaN,NaN,NaN,NaN,NaN
3,4,관광유흥음식점업,07_24_02_P,3220000,CDFI3261121999000001,19990512,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,관광유흥음식점업,07_24_02_P,3220000,CDFI3261121999000003,19990325,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,400000000.0,NaN,NaN,NaN,NaN,NaN
5,6,관광유흥음식점업,07_24_02_P,3460000,CDFI3261122010000001,20100324,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,150000000.0,NaN,NaN,NaN,369.0,NaN
6,7,관광유흥음식점업,07_24_02_P,3460000,CDFI3261122013000001,20130527,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,관광유흥음식점업,07_24_02_P,3250000,CDFI3261122011000001,20110706,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,관광유흥음식점업,07_24_02_P,5390000,CDFI3261122011000002,20111206,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,20000000.0,NaN,NaN,NaN,201.0,NaN
9,10,관광유흥음식점업,07_24_02_P,5350000,CDFI3261122011000001,20111018,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,43000000.0,NaN,NaN,NaN,209.0,NaN
10,11,관광유흥음식점업,07_24_02_P,5390000,CDFI3261122011000001,20110726,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,174.0,NaN
11,12,관광유흥음식점업,07_24_02_P,3700000,CDFI3261122015000001,20150315,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.0,NaN
12,13,관광유흥음식점업,07_24_02_P,3740000,CDFI3261122016000001,20160726,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,350000000.0,NaN,NaN,NaN,NaN,NaN
13,14,관광유흥음식점업,07_24_02_P,4340000,CDFI3261122010000001,20100909,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,400000000.0,NaN,NaN,NaN,NaN,NaN
14,15,관광유흥음식점업,07_24_02_P,4740000,CDFI3261122005000001,20051005,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,관광유흥음식점업,07_24_02_P,6510000,CDFI3261122016000001,20160829,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,관광유흥음식점업,07_24_02_P,4490000,CDFI3261122009000001,20091102,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
17,18,관광유흥음식점업,07_24_02_P,3340000,CDFI3261122013000001,20131205,20150127.0,4,취소/말소/만료/정지/중지,33,...,NaN,NaN,NaN,NaN,150000000.0,NaN,NaN,NaN,631.0,NaN
18,19,관광유흥음식점업,07_24_02_P,3340000,CDFI3261122013000002,20131205,20150127.0,4,취소/말소/만료/정지/중지,33,...,NaN,NaN,NaN,NaN,50000000.0,NaN,NaN,NaN,599.0,NaN
19,20,관광유흥음식점업,07_24_02_P,3340000,CDFI3261122013000003,20131205,20150127.0,4,취소/말소/만료/정지/중지,33,...,NaN,NaN,NaN,NaN,214000000.0,NaN,NaN,NaN,631.0,NaN

In [3]:
regular_restaurant_df = pd.read_csv('data/fulldata_07_24_04_P_일반음식점.csv', encoding='cp949')
regular_restaurant_df

/var/folders/zz/y6gcr8t54cn5mw40rcb6nq3c0000gn/T/ipykernel_1704/3874663763.py:1: DtypeWarning: Columns (22,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  regular_restaurant_df = pd.read_csv('data/fulldata_07_24_04_P_일반음식점.csv', encoding='cp949')

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,4200000,4200000-101-2022-00123,20220523,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,3010000,3010000-101-2022-00135,20220427,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3450000,3450000-101-2022-00127,20220428,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,3700000,3700000-101-2022-00133,20220428,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,3740000,5610000-101-2022-00139,20220428,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000461,2000462,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,20120119,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,85.00,NaN,NaN,NaN,NaN
2000462,2000463,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,20140612,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
2000463,2000464,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,20140321,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
2000464,2000465,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,20140319,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN
2000465,2000466,일반음식점,07_24_04_P,3600000,3600000-101-2014-00100,20140508,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,99.00,NaN,NaN,NaN,NaN

In [4]:
resting_restaurant_df = pd.read_csv('data/fulldata_07_24_05_P_휴게음식점.csv', encoding='cp949')
resting_restaurant_df

/var/folders/zz/y6gcr8t54cn5mw40rcb6nq3c0000gn/T/ipykernel_1704/876151307.py:1: DtypeWarning: Columns (16,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  resting_restaurant_df = pd.read_csv('data/fulldata_07_24_05_P_휴게음식점.csv', encoding='cp949')

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,휴게음식점,07_24_05_P,3150000,3150000-104-2022-00138,20220519,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,32.69,NaN,NaN,NaN,NaN
1,2,휴게음식점,07_24_05_P,5530000,5530000-104-2022-00268,20220517,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
2,3,휴게음식점,07_24_05_P,4050000,5620000-104-2022-00062,20220428,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,106.04,NaN,NaN,NaN,NaN
3,4,휴게음식점,07_24_05_P,3220000,3220000-104-2022-00244,20220517,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
4,5,휴게음식점,07_24_05_P,3940000,4100100-104-2022-00062,20220428,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,10.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499347,499348,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00018,20180314,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,3.30,NaN,NaN,NaN,NaN
499348,499349,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00027,20180410,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,56.10,NaN,NaN,NaN,NaN
499349,499350,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00031,20180419,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,16.00,NaN,NaN,NaN,NaN
499350,499351,휴게음식점,07_24_05_P,3610000,3610000-104-2017-00085,20171218,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,12.00,NaN,NaN,NaN,NaN
499351,499352,휴게음식점,07_24_05_P,3600000,3600000-104-2010-00022,20100316,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,8.22,NaN,NaN,NaN,NaN

## 1차 데이터 분석
- 데이터 양은 2,500,287개 즉 약 250만개
- 폐업한 가게를 데이터에서 빼야함
- 쓸모없는 속성 데이터를 제외시켜야함
- 인허가취소 날짜가 있는지 확인해야함
- 종사자 인원수로 규모를 측정할 수 있을거라고 생각함 (여성 직원 있는데 총 직원수 없는 미친 데이터..)
- 좌표값이 없는 데이터가 있음
- 업종으로 다운로드 받아서 유흥업종은 제외되었지만, 서울특별시만 있지 않고 전국의 데이터가 다 있음
- 데이터 양 부족하겠는.... (우리는 평균값이라 랜덤값으로 해결하기로 함.)
- 시설 총 규모가 있는것은 너무 고맙게 활용
- 이거 편의점도 섞여 있음 -> 문제는 백화점 안에 카페 이런것은 백화점이라고 업태구분명 되어 있음 위생업태명도.. (개빡침)
- 규모 없는 것은 그냥 보간법을 사용하는게 좋아보임 -> 전에 보간에 대해서 발표한 자료 보여준적이 있는데, 그걸 대충 활용하자..
- 이거 csv 파일마다 속성이 다름 (데이터 정제...)

우선은 폐업인 데이터 부터 각자 처리를 한 뒤에 갯수만큼 해서 Header를 따지거나 고민을 해보자.

In [5]:
resting_restaurant_df = resting_restaurant_df[resting_restaurant_df['상세영업상태명'] != '폐업']
regular_restaurant_df = regular_restaurant_df[regular_restaurant_df['상세영업상태명'] != '폐업']
sightseeing_restaurant_df = sightseeing_restaurant_df[sightseeing_restaurant_df['상세영업상태명'] != '폐업']
tourist_entertainment_restaurant_df = tourist_entertainment_restaurant_df[tourist_entertainment_restaurant_df['상세영업상태명'] != '폐업']
resting_restaurant_df = resting_restaurant_df[resting_restaurant_df['상세영업상태명'] != '지정취소']
regular_restaurant_df = regular_restaurant_df[regular_restaurant_df['상세영업상태명'] != '지정취소']
sightseeing_restaurant_df = sightseeing_restaurant_df[sightseeing_restaurant_df['상세영업상태명'] != '지정취소']
tourist_entertainment_restaurant_df = tourist_entertainment_restaurant_df[tourist_entertainment_restaurant_df['상세영업상태명'] != '지정취소']
resting_restaurant_df = resting_restaurant_df[resting_restaurant_df['상세영업상태명'] != '직권말소']
regular_restaurant_df = regular_restaurant_df[regular_restaurant_df['상세영업상태명'] != '직권말소']
sightseeing_restaurant_df = sightseeing_restaurant_df[sightseeing_restaurant_df['상세영업상태명'] != '직권말소']
tourist_entertainment_restaurant_df = tourist_entertainment_restaurant_df[tourist_entertainment_restaurant_df['상세영업상태명'] != '직권말소']

In [6]:
resting_restaurant_df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
302648,302649,휴게음식점,07_24_05_P,3200000,3200000-104-2022-00087,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,10.00,NaN,NaN,NaN,NaN
302649,302650,휴게음식점,07_24_05_P,3200000,3200000-104-2022-00086,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,3.30,NaN,NaN,NaN,NaN
302650,302651,휴게음식점,07_24_05_P,4040000,4040000-104-2022-00116,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,284.24,NaN,NaN,NaN,NaN
302651,302652,휴게음식점,07_24_05_P,4040000,4040000-104-2022-00115,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,23.90,NaN,NaN,NaN,NaN
302652,302653,휴게음식점,07_24_05_P,4040000,4040000-104-2022-00114,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,44.52,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499347,499348,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00018,20180314,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,3.30,NaN,NaN,NaN,NaN
499348,499349,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00027,20180410,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,56.10,NaN,NaN,NaN,NaN
499349,499350,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00031,20180419,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,16.00,NaN,NaN,NaN,NaN
499350,499351,휴게음식점,07_24_05_P,3610000,3610000-104-2017-00085,20171218,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,12.00,NaN,NaN,NaN,NaN
499351,499352,휴게음식점,07_24_05_P,3600000,3600000-104-2010-00022,20100316,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,8.22,NaN,NaN,NaN,NaN

In [7]:
regular_restaurant_df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
1311658,1311659,일반음식점,07_24_04_P,3780000,3790000-101-2022-00126,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
1311659,1311660,일반음식점,07_24_04_P,4080000,4080000-101-2022-00092,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,82.95,NaN,NaN,NaN,NaN
1311660,1311661,일반음식점,07_24_04_P,4080000,4080000-101-2022-00091,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,19.34,NaN,NaN,NaN,NaN
1311661,1311662,일반음식점,07_24_04_P,3180000,3180000-101-2022-00229,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,40.00,NaN,NaN,NaN,NaN
1311662,1311663,일반음식점,07_24_04_P,5380000,5380000-101-2022-00198,20220517,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,65.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000461,2000462,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,20120119,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,85.00,NaN,NaN,NaN,NaN
2000462,2000463,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,20140612,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
2000463,2000464,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,20140321,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
2000464,2000465,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,20140319,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN
2000465,2000466,일반음식점,07_24_04_P,3600000,3600000-101-2014-00100,20140508,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,99.00,NaN,NaN,NaN,NaN

In [8]:
sightseeing_restaurant_df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
109,110,관광식당,07_24_01_P,5070000,CDFI3261042016000001,20161212,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,111,관광식당,07_24_01_P,4180000,CDFI3261042005000002,20051012,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.0,NaN
111,112,관광식당,07_24_01_P,4180000,CDFI3261042007000001,20070309,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131.0,NaN
112,113,관광식당,07_24_01_P,4180000,CDFI3261042002000002,20021227,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,480.0,NaN
113,114,관광식당,07_24_01_P,4180000,CDFI3261042008000002,20081231,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,3.000000e+09,NaN,NaN,NaN,329.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,관광식당,07_24_01_P,4180000,CDFI3261042011000002,20110607,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,231.0,NaN
414,415,관광식당,07_24_01_P,4180000,CDFI3261042011000003,20110607,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,215.0,NaN
415,416,관광식당,07_24_01_P,5160000,CDFI3261042020000001,20201124,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,417,관광식당,07_24_01_P,3160000,CDFI3261042020000001,20200917,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,418,관광식당,07_24_01_P,3160000,CDFI3261042020000002,20201202,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
tourist_entertainment_restaurant_df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
11,12,관광유흥음식점업,07_24_02_P,3700000,CDFI3261122015000001,20150315,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.0,NaN
12,13,관광유흥음식점업,07_24_02_P,3740000,CDFI3261122016000001,20160726,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,350000000.0,NaN,NaN,NaN,NaN,NaN
13,14,관광유흥음식점업,07_24_02_P,4340000,CDFI3261122010000001,20100909,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,400000000.0,NaN,NaN,NaN,NaN,NaN
14,15,관광유흥음식점업,07_24_02_P,4740000,CDFI3261122005000001,20051005,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,관광유흥음식점업,07_24_02_P,6510000,CDFI3261122016000001,20160829,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,관광유흥음식점업,07_24_02_P,4490000,CDFI3261122009000001,20091102,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN

남은 인원이 885,827 장소가 남았습니다.
필요한 데이터 속성을 다시 분석해보자.
X로 쓸만한거 모으고 속성을해서 통일해보자.

In [10]:
tourist_entertainment_restaurant_df = tourist_entertainment_restaurant_df.loc[:, ['개방서비스명', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호', '사업장명', '좌표정보(x)', '좌표정보(y)', '업태구분명', '시설규모']]
sightseeing_restaurant_df = sightseeing_restaurant_df.loc[:, ['개방서비스명', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호', '사업장명', '좌표정보(x)', '좌표정보(y)', '업태구분명', '시설규모']]

regular_restaurant_df.rename(columns={'시설총규모': '시설규모'}, inplace=True)
resting_restaurant_df.rename(columns={'시설총규모': '시설규모'}, inplace=True)
regular_restaurant_df = regular_restaurant_df.loc[:, ['개방서비스명', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호', '사업장명', '좌표정보(x)', '좌표정보(y)', '업태구분명', '시설규모']]
resting_restaurant_df = resting_restaurant_df.loc[:, ['개방서비스명', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호', '사업장명', '좌표정보(x)', '좌표정보(y)', '업태구분명', '시설규모']]

In [11]:
tourist_entertainment_restaurant_df

,개방서비스명,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),업태구분명,시설규모
11,관광유흥음식점업,680817.0,울산광역시 남구 삼산동 1564-11번지 2층,"울산광역시 남구 화합로178번길 20, 2층 (삼산동)",44713.0,슈퍼스타마마,412283.456789,229268.903703,NaN,224.0
12,관광유흥음식점업,NaN,경기도 수원시 팔달구 인계동 1133-8,경기도 수원시 팔달구 권광로134번길 44-11 (인계동),16491.0,자유의 여신,202901.251095,417391.088007,NaN,NaN
13,관광유흥음식점업,219832.0,강원도 고성군 토성면 신평리 202-15번지,강원도 고성군 토성면 잼버리동로 267,NaN,뮤직&바,334532.128492,527820.982854,NaN,NaN
14,관광유흥음식점업,568811.0,전라북도 무주군 설천면 심곡리 1209-22 중앙상가 A-5동 2-26,전라북도 무주군 설천면 만선로 185,55556.0,클럽볼륨,266549.190186,265966.132912,NaN,NaN
15,관광유흥음식점업,NaN,제주특별자치도 제주시 연동 262-14,제주특별자치도 제주시 제원길 41 (연동),63131.0,라운딩,152476.792037,-1003.590422,NaN,NaN
16,관광유흥음식점업,NaN,충청남도 천안시 서북구 불당동 684-1번지,"충청남도 천안시 서북구 검은들1길 26 (불당동, SKY타워빌딩)",31163.0,스카이슈퍼돔관광나이트클럽,209786.154580,367840.494734,NaN,0.0

In [12]:
regular_restaurant_df

,개방서비스명,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),업태구분명,시설규모
1311658,일반음식점,461811.0,경기도 성남시 수정구 신흥동 2562-2 1층,"경기도 성남시 수정구 산성대로295번길 9, 1(일부)층 (신흥동)",13354.0,윤푸드,213117.592076,437825.856238,한식,0.00
1311659,일반음식점,456823.0,경기도 안성시 공도읍 만정리 815-1 107호,"경기도 안성시 공도읍 공도3로 9-9, 공도 일번가타워 1층 107호",17561.0,79대포 안성공도점,215021.103199,388727.667964,호프/통닭,82.95
1311660,일반음식점,456831.0,경기도 안성시 대덕면 내리 691-6 2층 일부,"경기도 안성시 대덕면 중앙대학로 116-1, 2층",17547.0,맛있어2(Masisso2),219857.937502,388861.268106,한식,19.34
1311661,일반음식점,150829.0,서울특별시 영등포구 도림동 76-22,"서울특별시 영등포구 도신로33길 11, 1층 (도림동)",7368.0,푸드 딜리버리 영등포점,191722.709234,445276.999732,한식,40.00
1311662,일반음식점,626812.0,경상남도 양산시 물금읍 물금리 878-6,"경상남도 양산시 물금읍 버들2길 7-13, 1층 일부",50657.0,수벙샌드위치,380741.211631,202644.423181,기타,65.00
...,...,...,...,...,...,...,...,...,...,...
2000461,일반음식점,503822.0,광주광역시 남구 양림동 374번지 2층,"광주광역시 남구 제중로 39, 2층 (양림동)",61643.0,뚱스넥,192085.702260,182111.703093,한식,85.00
2000462,일반음식점,503831.0,광주광역시 남구 월산동 1048-182번지 (1층),"광주광역시 남구 군분로 26-1, 1층 (월산동)",61615.0,갈비명가아라네,190363.418899,181905.028328,한식,118.98
2000463,일반음식점,502837.0,광주광역시 서구 화정동 332-9번지 (1층),"광주광역시 서구 월드컵4강로116번길 5, 1층 (화정동)",61984.0,승진이네,188322.201767,183130.570776,한식,26.40
2000464,일반음식점,502834.0,광주광역시 서구 화정동 70-61 (1층),"광주광역시 서구 내방로350번길 10, 1층 (화정동)",61977.0,명가,188873.020499,184152.82843,한식,82.60
2000465,일반음식점,502831.0,광주광역시 서구 풍암동 682-1번지 (1층),"광주광역시 서구 송풍로17번길 5, 1층 (풍암동)",62052.0,라캄파넬라,187771.639116,179969.196777,경양식,99.00

In [13]:
combine_restaurant_df = pd.concat([tourist_entertainment_restaurant_df, regular_restaurant_df, sightseeing_restaurant_df, resting_restaurant_df])
combine_restaurant_df

,개방서비스명,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),업태구분명,시설규모
11,관광유흥음식점업,680817.0,울산광역시 남구 삼산동 1564-11번지 2층,"울산광역시 남구 화합로178번길 20, 2층 (삼산동)",44713.0,슈퍼스타마마,412283.456789,229268.903703,NaN,224.00
12,관광유흥음식점업,NaN,경기도 수원시 팔달구 인계동 1133-8,경기도 수원시 팔달구 권광로134번길 44-11 (인계동),16491.0,자유의 여신,202901.251095,417391.088007,NaN,NaN
13,관광유흥음식점업,219832.0,강원도 고성군 토성면 신평리 202-15번지,강원도 고성군 토성면 잼버리동로 267,NaN,뮤직&바,334532.128492,527820.982854,NaN,NaN
14,관광유흥음식점업,568811.0,전라북도 무주군 설천면 심곡리 1209-22 중앙상가 A-5동 2-26,전라북도 무주군 설천면 만선로 185,55556.0,클럽볼륨,266549.190186,265966.132912,NaN,NaN
15,관광유흥음식점업,NaN,제주특별자치도 제주시 연동 262-14,제주특별자치도 제주시 제원길 41 (연동),63131.0,라운딩,152476.792037,-1003.590422,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
499347,휴게음식점,503060.0,광주광역시 남구 봉선동 1095 1층 201동 102호,"광주광역시 남구 제석로 104, 201동 1층 102호 (봉선동)",61702.0,GS25HR아팰리스점,191473.699104,180506.254787,편의점,3.30
499348,휴게음식점,503809.0,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,190987.643081,181915.397881,일반조리판매,56.10
499349,휴게음식점,503840.0,"광주광역시 남구 진월동 294-17번지 광동빌딩, 2층","광주광역시 남구 서문대로 700, 광동빌딩 2층 (진월동)",61709.0,블랑PC방,190720.873936,180300.549186,일반조리판매,16.00
499350,휴게음식점,503829.0,광주광역시 남구 월산동 901-30번지 1층,"광주광역시 남구 월산로151번길 10, 땡큐pc방 1층 (월산동)",61619.0,엔젤pc,190337.038953,183555.773219,기타 휴게음식점,12.00
499351,휴게음식점,502837.0,광주광역시 서구 화정동 334-123번지 (1층),"광주광역시 서구 월드컵4강로112번길 7-14 (화정동,(1층))",61986.0,굿모닝토스트,188387.562754,183119.898417,일반조리판매,8.22

시설규모가 중요한데 Nan과 0이 공존하기 때문에 Nan을 0으로 채워줍니다.

In [14]:
combine_restaurant_df['시설규모'] = combine_restaurant_df['시설규모'].fillna(0)
combine_restaurant_df

,개방서비스명,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),업태구분명,시설규모
11,관광유흥음식점업,680817.0,울산광역시 남구 삼산동 1564-11번지 2층,"울산광역시 남구 화합로178번길 20, 2층 (삼산동)",44713.0,슈퍼스타마마,412283.456789,229268.903703,NaN,224.00
12,관광유흥음식점업,NaN,경기도 수원시 팔달구 인계동 1133-8,경기도 수원시 팔달구 권광로134번길 44-11 (인계동),16491.0,자유의 여신,202901.251095,417391.088007,NaN,0.00
13,관광유흥음식점업,219832.0,강원도 고성군 토성면 신평리 202-15번지,강원도 고성군 토성면 잼버리동로 267,NaN,뮤직&바,334532.128492,527820.982854,NaN,0.00
14,관광유흥음식점업,568811.0,전라북도 무주군 설천면 심곡리 1209-22 중앙상가 A-5동 2-26,전라북도 무주군 설천면 만선로 185,55556.0,클럽볼륨,266549.190186,265966.132912,NaN,0.00
15,관광유흥음식점업,NaN,제주특별자치도 제주시 연동 262-14,제주특별자치도 제주시 제원길 41 (연동),63131.0,라운딩,152476.792037,-1003.590422,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...
499347,휴게음식점,503060.0,광주광역시 남구 봉선동 1095 1층 201동 102호,"광주광역시 남구 제석로 104, 201동 1층 102호 (봉선동)",61702.0,GS25HR아팰리스점,191473.699104,180506.254787,편의점,3.30
499348,휴게음식점,503809.0,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,190987.643081,181915.397881,일반조리판매,56.10
499349,휴게음식점,503840.0,"광주광역시 남구 진월동 294-17번지 광동빌딩, 2층","광주광역시 남구 서문대로 700, 광동빌딩 2층 (진월동)",61709.0,블랑PC방,190720.873936,180300.549186,일반조리판매,16.00
499350,휴게음식점,503829.0,광주광역시 남구 월산동 901-30번지 1층,"광주광역시 남구 월산로151번길 10, 땡큐pc방 1층 (월산동)",61619.0,엔젤pc,190337.038953,183555.773219,기타 휴게음식점,12.00
499351,휴게음식점,502837.0,광주광역시 서구 화정동 334-123번지 (1층),"광주광역시 서구 월드컵4강로112번길 7-14 (화정동,(1층))",61986.0,굿모닝토스트,188387.562754,183119.898417,일반조리판매,8.22

## 일차 정제 완료
우리가 더 해야할일은 아래와 같다.
- 식사가능인원을 만들어야한다.
- 식사 가능 인원은 전체 면적의 70% 이다.

In [15]:
def calc_people(x):
    return (x / 100) * 70

combine_restaurant_df['식사가능인원'] = combine_restaurant_df['시설규모'].apply(calc_people)
combine_restaurant_df

,개방서비스명,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),업태구분명,시설규모,식사가능인원
11,관광유흥음식점업,680817.0,울산광역시 남구 삼산동 1564-11번지 2층,"울산광역시 남구 화합로178번길 20, 2층 (삼산동)",44713.0,슈퍼스타마마,412283.456789,229268.903703,NaN,224.00,156.800
12,관광유흥음식점업,NaN,경기도 수원시 팔달구 인계동 1133-8,경기도 수원시 팔달구 권광로134번길 44-11 (인계동),16491.0,자유의 여신,202901.251095,417391.088007,NaN,0.00,0.000
13,관광유흥음식점업,219832.0,강원도 고성군 토성면 신평리 202-15번지,강원도 고성군 토성면 잼버리동로 267,NaN,뮤직&바,334532.128492,527820.982854,NaN,0.00,0.000
14,관광유흥음식점업,568811.0,전라북도 무주군 설천면 심곡리 1209-22 중앙상가 A-5동 2-26,전라북도 무주군 설천면 만선로 185,55556.0,클럽볼륨,266549.190186,265966.132912,NaN,0.00,0.000
15,관광유흥음식점업,NaN,제주특별자치도 제주시 연동 262-14,제주특별자치도 제주시 제원길 41 (연동),63131.0,라운딩,152476.792037,-1003.590422,NaN,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...
499347,휴게음식점,503060.0,광주광역시 남구 봉선동 1095 1층 201동 102호,"광주광역시 남구 제석로 104, 201동 1층 102호 (봉선동)",61702.0,GS25HR아팰리스점,191473.699104,180506.254787,편의점,3.30,2.310
499348,휴게음식점,503809.0,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,190987.643081,181915.397881,일반조리판매,56.10,39.270
499349,휴게음식점,503840.0,"광주광역시 남구 진월동 294-17번지 광동빌딩, 2층","광주광역시 남구 서문대로 700, 광동빌딩 2층 (진월동)",61709.0,블랑PC방,190720.873936,180300.549186,일반조리판매,16.00,11.200
499350,휴게음식점,503829.0,광주광역시 남구 월산동 901-30번지 1층,"광주광역시 남구 월산로151번길 10, 땡큐pc방 1층 (월산동)",61619.0,엔젤pc,190337.038953,183555.773219,기타 휴게음식점,12.00,8.400
499351,휴게음식점,502837.0,광주광역시 서구 화정동 334-123번지 (1층),"광주광역시 서구 월드컵4강로112번길 7-14 (화정동,(1층))",61986.0,굿모닝토스트,188387.562754,183119.898417,일반조리판매,8.22,5.754

In [16]:
combine_restaurant_df.describe()

,소재지우편번호,도로명우편번호,좌표정보(x),시설규모,식사가능인원
count,854614.000000,869107.000000,862991.000000,885827.000000,885827.000000
mean,441049.364156,29372.418779,249503.031956,80.631251,56.441875
std,199577.619674,18738.925261,79249.570424,109.159833,76.411883
min,100011.000000,1000.000000,-9184.002480,0.000000,0.000000
25%,302831.000000,12505.000000,192447.070695,31.680000,22.176000
50%,446908.000000,27480.000000,210582.757656,55.470000,38.829000
75%,614817.000000,46723.000000,328095.214565,96.760000,67.732000
max,799823.000000,200113.000000,545908.000000,22275.800000,15593.060000

In [19]:
combine_restaurant_df = combine_restaurant_df[combine_restaurant_df.식사가능인원 > 0]
combine_restaurant_df = combine_restaurant_df[combine_restaurant_df.시설규모 > 16] # 16.52 가아니다.
combine_restaurant_df

,개방서비스명,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),업태구분명,시설규모,식사가능인원
11,관광유흥음식점업,680817.0,울산광역시 남구 삼산동 1564-11번지 2층,"울산광역시 남구 화합로178번길 20, 2층 (삼산동)",44713.0,슈퍼스타마마,412283.456789,229268.903703,NaN,224.00,156.800
1311659,일반음식점,456823.0,경기도 안성시 공도읍 만정리 815-1 107호,"경기도 안성시 공도읍 공도3로 9-9, 공도 일번가타워 1층 107호",17561.0,79대포 안성공도점,215021.103199,388727.667964,호프/통닭,82.95,58.065
1311660,일반음식점,456831.0,경기도 안성시 대덕면 내리 691-6 2층 일부,"경기도 안성시 대덕면 중앙대학로 116-1, 2층",17547.0,맛있어2(Masisso2),219857.937502,388861.268106,한식,19.34,13.538
1311661,일반음식점,150829.0,서울특별시 영등포구 도림동 76-22,"서울특별시 영등포구 도신로33길 11, 1층 (도림동)",7368.0,푸드 딜리버리 영등포점,191722.709234,445276.999732,한식,40.00,28.000
1311662,일반음식점,626812.0,경상남도 양산시 물금읍 물금리 878-6,"경상남도 양산시 물금읍 버들2길 7-13, 1층 일부",50657.0,수벙샌드위치,380741.211631,202644.423181,기타,65.00,45.500
...,...,...,...,...,...,...,...,...,...,...,...
499341,휴게음식점,503846.0,광주광역시 남구 봉선동 606번지 남양휴턴1차 106동 107호,"광주광역시 남구 봉선로 106, 106동 107호 (봉선동, 남양휴턴1차 지하1)",61701.0,벌크커피봉선점,191414.807157,180524.24578,커피숍,35.00,24.500
499342,휴게음식점,503821.0,광주광역시 남구 양림동 92-53번지 1층,"광주광역시 남구 3·1만세운동길 13-2, 1층 (양림동)",61663.0,향원차엔역,192331.722709,181997.490389,전통찻집,82.50,57.750
499345,휴게음식점,503821.0,광주광역시 남구 양림동 24-106 1층,"광주광역시 남구 천변좌로450번길 5, 1층 (양림동)",61662.0,수정솜씨1998,192405.952976,182305.442977,일반조리판매,17.97,12.579
499346,휴게음식점,502833.0,광주광역시 서구 풍암동 1117-6 (일층),"광주광역시 서구 풍암1로21번길 13 (풍암동,(일층))",62058.0,파운데이 풍암점,188932.389339,180746.782691,커피숍,85.80,60.060
499348,휴게음식점,503809.0,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,190987.643081,181915.397881,일반조리판매,56.10,39.270

In [20]:
combine_restaurant_df.to_csv('data/restaurant_data.csv', index_label=False)